In [2]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

In [3]:
final_demo = pd.read_csv('df_final_demo.txt', delimiter=',', on_bad_lines='skip')
print(final_demo.columns)
final_demo.head()

Index(['client_id', 'clnt_tenure_yr', 'clnt_tenure_mnth', 'clnt_age', 'gendr',
       'num_accts', 'bal', 'calls_6_mnth', 'logons_6_mnth'],
      dtype='object')

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth
0,836976,6.0,73.0,60.5,U,2.0,45105.30,6.0,9.0
1,2304905,7.0,94.0,58.0,U,2.0,110860.30,6.0,9.0
2,1439522,5.0,64.0,32.0,U,2.0,52467.79,6.0,9.0
3,1562045,16.0,198.0,49.0,M,2.0,67454.65,3.0,6.0
4,5126305,12.0,145.0,33.0,F,2.0,103671.75,0.0,3.0

In [4]:
final_web_data_1 = pd.read_csv('df_final_web_data_pt_1.txt', delimiter=',', on_bad_lines='skip')
print(final_web_data_1.columns)
final_web_data_1.head()

Index(['client_id', 'visitor_id', 'visit_id', 'process_step', 'date_time'], dtype='object')

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04

In [5]:
final_web_data_2 = pd.read_csv('df_final_web_data_pt_2.txt', delimiter=',', on_bad_lines='skip')
print(final_web_data_2.columns)
final_web_data_2.head()

Index(['client_id', 'visitor_id', 'visit_id', 'process_step', 'date_time'], dtype='object')

,client_id,visitor_id,visit_id,process_step,date_time
0,763412,601952081_10457207388,397475557_40440946728_419634,confirm,2017-06-06 08:56:00
1,6019349,442094451_91531546617,154620534_35331068705_522317,confirm,2017-06-01 11:59:27
2,6019349,442094451_91531546617,154620534_35331068705_522317,step_3,2017-06-01 11:58:48
3,6019349,442094451_91531546617,154620534_35331068705_522317,step_2,2017-06-01 11:58:08
4,6019349,442094451_91531546617,154620534_35331068705_522317,step_1,2017-06-01 11:57:58

In [6]:
final_clients = pd.read_csv('df_final_experiment_clients.txt', delimiter=',', on_bad_lines='skip')
print(final_clients.columns)
final_clients.head()

Index(['client_id', 'Variation'], dtype='object')

   client_id Variation
0    9988021      Test
1    8320017      Test
2    4033851   Control
3    1982004      Test
4    9294070   Control

In [10]:
# Merging the DataFrames
merged_data = pd.concat([final_web_data_1, final_web_data_2])

# Check for duplicate rows
duplicate_rows = merged_data[merged_data.duplicated()]

# Output the number of duplicate rows
print(f"Number of duplicate rows: {duplicate_rows.shape[0]}")


# Remove duplicate rows
cleaned_data = merged_data.drop_duplicates()

# Verify the removal by checking the number of rows before and after
print(f"Number of rows before removing duplicates: {merged_data.shape[0]}")
print(f"Number of rows after removing duplicates: {cleaned_data.shape[0]}")
print(f"Number of duplicate rows after: {cleaned_data[cleaned_data.duplicated()].shape[0]}")

# Display the first few rows of the cleaned DataFrame
print(cleaned_data.head())

Number of duplicate rows: 10764
     client_id             visitor_id                      visit_id  \
365    9358626  148475529_63668223960  223297395_36250329195_832161

    process_step            date_time
365        start  2017-04-28 12:27:28
Number of rows before removing duplicates: 755405
Number of rows after removing duplicates: 744641
Number of duplicate rows after: 0
   client_id            visitor_id                      visit_id process_step  \
0    9988021  580560515_7732621733  781255054_21935453173_531117       step_3
1    9988021  580560515_7732621733  781255054_21935453173_531117       step_2
2    9988021  580560515_7732621733  781255054_21935453173_531117       step_3
3    9988021  580560515_7732621733  781255054_21935453173_531117       step_2
4    9988021  580560515_7732621733  781255054_21935453173_531117       step_3

             date_time
0  2017-04-17 15:27:07
1  2017-04-17 15:26:51
2  2017-04-17 15:19:22
3  2017-04-17 15:19:13
4  2017-04-17 15:18:04

In [17]:
print(final_demo['gendr'].value_counts())
final_demo['gendr'] = final_demo['gendr'].replace('X', 'U')

# Optionally, you can verify the replacement
print(final_demo[final_demo['gendr'] == 'X'])

gendr
U    24125
M    23724
F    22746
Name: count, dtype: int64
Empty DataFrame
Columns: [client_id, clnt_tenure_yr, clnt_tenure_mnth, clnt_age, gendr, num_accts, bal, calls_6_mnth, logons_6_mnth]
Index: []

In [19]:
print(cleaned_data['process_step'].unique())
# final_demo['gendr'] = final_demo['gendr'].replace('X', 'U')

# # Optionally, you can verify the replacement
# print(final_demo[final_demo['gendr'] == 'X'])

['step_3' 'step_2' 'step_1' 'start' 'confirm']

In [25]:
# print(final_clients['Variation'].isnull())

# Fill NaN values in the 'Variation' column with 'Unknown'
final_clients['Variation'] = final_clients['Variation'].fillna('Unknown')

0        False
1        False
2        False
3        False
4        False
         ...
70604    False
70605    False
70606    False
70607    False
70608    False
Name: Variation, Length: 70609, dtype: bool